.title {
  font-size: 65px;
  background-color: lavender; 
    box-shadow: 5px 5px 5px #888888;
  padding: 5px 20px;
}


.links {
  color: blue;
}

container {
  font-size: 18px;
}

.subheader1,.subheader2,.subheader3{
  font-size:25px;
  
}

.brazilimg {
  height:700px;
  float: left;
  position: relative;
}
.donationBtn {
  margin-bottom:40px;
  padding:0px 10px;
  border: 3px solid rgb(103, 195, 207);
  text-align: center;
  font-size: 28px;
  color: rgb(103, 195, 207);
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #888888;
}

.donationBtn:hover {
  padding:0px 10px;
  box-shadow: 5px 5px 5px #888888;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  font-size: 28px;
  color:white;
  background-color: rgb(103, 195, 207);
}